<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<div class="about-section" align="center">
    <h3>Demo App for Visma</h3>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Anastasija Volkova</h2>
                <p>Phone: <a href="call:+37128853420">+37128853420</a></p>
                <p>Email: <a href="mailto:anastasija.volkova@icloud.com">anastasija.volkova@icloud.com</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/anastasija-volkova-9a3125167">Anastasija Volkova</a></p></p>
                <p>GitHub: <a href="https://github.com/AnastasijaVolkova">Anastasija Volkova</a></p></p>
                <p>All Rights Reserved. 2023</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-center h-100">
<a href="loan/new" class="btn float-right btn-outline btn-success btn-lg"> <i class="fa fa-arrow-circle-o-left"></i>Start</a>
</div>
</body>
</html>